---
import PageLayout from "@/layouts/PageLayout.astro";
import PageMeta from "@/components/PageMeta.astro";
import Label from "@/components/Label.astro";
import config from "@/config";
import { getCollection } from "astro:content";

const notesList = await getCollection("notes");

const sortedNotes = notesList
  .filter((p) => !(import.meta.env.MODE === "production" && p.data.draft))
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  );
---

<PageLayout>
  <PageMeta
    title={`${
      // prettier-ignore
      // converts to title case
      config.NAV.NOTES.NAME
        .toLowerCase()
        .replace(/\b\w/g, (c) => c.toUpperCase())
    } | ${config.SITE_TITLE}`}
    slot="meta"
  />
  <section slot="main" class="pt-4">
    <ul>
      {
        sortedNotes.map((notes) => {
          const formattedDate = new Date(notes.data.date).toLocaleDateString(
            "en-us",
            {
              year: "numeric",
              month: "short",
              day: "numeric",
            }
          );
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                {notes.data.external ? (
                  <a
                    href={notes.data.url}
                    target="_blank"
                    class="unset hover:text-text-link"
                  >
                    <span>{notes.data.title}</span>
                    <span>
                      <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                    </span>
                    {notes.data.label ? (
                      <Label label={notes.data.label}>{notes.data.label}</Label>
                    ) : null}
                  </a>
                ) : (
                  <a
                    href={`${config.NAV.NOTES.REL_PATH}/${notes.slug}`}
                    class="unset hover:text-text-link"
                    rel="prefetch"
                  >
                    {notes.data.title}
                  </a>
                )}
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={notes.data.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
